#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}
#navbar {
  display: flex;
  align-items: center; 
  justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #1a1a1a;
    transition: o.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

/* //select with underline and with hover */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

